{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<div>
    {% for post in posts %} {# Template Tag #}
        <!-- Template Tag from HTML Comment -->
        <div style="border: 1px solid black;">
            {% if post.is_recent %}
                <div class="badge">fresh</div>
            {% else %}
                <div class="badge danger">old</div>
            {% endif %}
            <p>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                &mdash;
                <small>{{ post.create_time|timesince }} Ago</small></p>
            <p>{{ post.text|truncatechars:256 }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}
