{% extends 'base.html' %}

{% block content %}
    <h3>{{ post.title }}</h3>
    <p>{{ post.author }} posted at {{ post.create_time|date:"Y-b-d" }}</p>
    <p>{{ post.text }}</p>

    <div>
        <h4>Comments</h4>
        <hr/>
        <ul>

            {% for comment in post.comment_set.all %}
                <li>
                    <p>{{ comment.author }} commented</p>
                    <p>{{ comment.text }}</p>
                </li>
            {% endfor %}
        </ul>

    </div>

{% endblock %}